<section class="container login">
  <div class="row loginContainer">
    <div
      class="col-md-6 loginPic"
      style="
        background: url(../../../../assets/img/login.jpg) center center / cover
          no-repeat;
      "
    ></div>
    <div class="col-md-6 loginForm">
      <div class="loginTitle"><h2>Welcome</h2></div>

      <form (ngSubmit)="handleLogin()" #formDN="ngForm">
        <label for="user">User</label>
        <div class="inputUserBox">
          <input
            name="user"
            [(ngModel)]="userLogin.taiKhoan"
            #taiKhoan="ngModel"
            required
            type="text"
            class="inputUser"
            id="user"
            maxlength="40"
          /><i class="fas fa-user"></i>
        </div>

        <label for="password">Password</label>
        <div class="inputPassBox">
          <input
            name="password"
            [(ngModel)]="userLogin.matKhau"
            #matKhau="ngModel"
            required
            type="password"
            id="password"
            class="inputPass"
            maxlength="40"
          /><i class="fas fa-lock"></i>
        </div>

        <div
          *ngIf="
            (taiKhoan.invalid && (taiKhoan.dirty || taiKhoan.touched)) ||
            (matKhau.invalid && (matKhau.dirty || matKhau.touched))
          "
          class="alert alert-danger rounded-pill text-center"
        >
          <div *ngIf="taiKhoan.errors!.required || matKhau.errors!.required">
            user or password can not be blank
          </div>
        </div>

        <button class="loginBtn" type="submit" [disabled]="!formDN.valid">
          Sign In
        </button>
        <p>
          Not registered yet? <a routerLink="/sign-up">Create an Account</a>
        </p>
      </form>
    </div>
  </div>
</section>
