$main-blue: #00aafe;
$main-brown: #5f5252;
$whitesmoke: whitesmoke;
$main-grey: #8d8989;

.courseDetail {
  overflow: hidden;
  .heading {
    color: whitesmoke;
  }

  .row {
    .headingTitle {
      margin: 30px 30px;
      h4 {
        text-transform: uppercase;
      }

      span {
        color: $main-blue;
      }

      .btnBox {
        text-align: center;
      }
    }
    .col-md-5 {
      text-align: center;
      img {
        margin: 20px 0;
        width: 90%;
        border-radius: 10px;
      }
    }
  }

  .info {
    h4 {
      margin: 20px;
    }
  }
}

@media (min-width: 767px) {
  .courseDetail {
    .heading {
      padding: 70px 20px;
      .row {
        .headingTitle {
          padding: 50px;
          margin: 0;

          h4 {
            font-size: 2rem;
          }
          .btnBox {
            text-align: left;
          }
        }

        .col-md-5 {
          img {
            width: 70%;
          }
        }
      }
    }
  }
}
