<a routerLink="/course-detail/{{ course.maKhoaHoc }}" class="courseCard">
  <div
    class="cardImg"
    style="
    background: url('{{ course.hinhAnh }}') no-repeat center;
    background-size: cover;"
  ></div>

  <div class="card-body itemTitle">
    <p class="card-text">{{ course.tenKhoaHoc }}</p>
    <span>{{ course.nguoiTao.hoTen }}</span>
  </div>
  <div class="preview card-body">
    <div><i class="fas fa-eye"></i>{{ course.luotXem }}</div>
    <div><i class="fas fa-user-friends"></i>{{ course.soLuongHocVien }}</div>
  </div>
</a>
