<section class="container aboutUs">
  <div class="row">
    <div class="col-lg-7 aboutUsTitle">
      <h3>Explore the computer world</h3>
      <h1>Make coding fun</h1>

      <div class="aboutBtnBox">
        <button class="btn btnAboutSignUp">Sign Up</button
        ><button class="btn btnAboutUs">About Us</button>
      </div>
    </div>

    <div class="col-lg-5 aboutUsImg">
      <img src="../../../../assets/img/home1.png" alt="" />
    </div>
  </div>

  <div class="aboutUsCategory">
    <ul>
      <li>
        <a href=""><i class="fas fa-code"></i>FrontEnd</a>
      </li>
      <li>
        <a href=""><i class="fab fa-codepen"></i>Backend</a>
      </li>
      <li>
        <a href=""><i class="fas fa-pencil-ruler"></i>FullStack</a>
      </li>
      <li>
        <a href=""><i class="fas fa-network-wired"></i>More</a>
      </li>
    </ul>

    <input
      type="text"
      class="form-control searchCategory"
      placeholder="courses"
    />
    <a href=""><i class="fas fa-search"></i></a>
  </div>
</section>
