<section class="container signUp">
  <div class="row signUpContainer">
    <div
      class="col-md-6 loginPic"
      style="
        background: url(../../../../assets/img/sign-up.jpg) center center /
          contain no-repeat;
      "
    ></div>
    <div class="col-md-6 signUpForm">
      <div class="signUpTitle"><h2>Sign Up</h2></div>

      <form>
        <label for="user">User</label>
        <div class="inputUserBox">
          <input required type="text" class="inputUser" id="user" />
        </div>

        <label for="password">Password</label>
        <div class="inputPassBox">
          <input required type="password" id="password" class="inputPass" />
        </div>

        <label for="user">Name</label>
        <div class="inputUserBox">
          <input required type="text" class="inputUser" id="user" />
        </div>

        <label for="user">Phone Number</label>
        <div class="inputUserBox">
          <input required type="text" class="inputUser" id="user" />
        </div>

        <label for="user">Email</label>
        <div class="inputUserBox">
          <input required type="text" class="inputUser" id="user" />
        </div>

        <button class="signUpBtn" type="submit">Sign Up</button>
        <p>Already have an Account? <a routerLink="/login">Sign In</a></p>
      </form>
    </div>
  </div>
</section>
<a href="https://www.freepik.com/vectors/technology"
  >Technology vector created by stories - www.freepik.com</a
>
