<section class="container signUp">
  <div class="row signUpContainer">
    <div
      class="col-md-6 loginPic"
      style="
        background: url(../../../../assets/img/sign-up.jpg) center center /
          contain no-repeat;
      "
    ></div>
    <div class="col-md-6 signUpForm">
      <div class="signUpTitle"><h2>Sign Up</h2></div>

      <form>
        <label for="user">User</label>
        <div class="inputUserBox">
          <input required type="text" class="inputUser" id="user" /><i
            class="fas fa-user"
          ></i>
        </div>

        <label for="password">Password</label>
        <div class="inputPassBox">
          <input required type="password" id="password" class="inputPass" /><i
            class="fas fa-lock"
          ></i>
        </div>
        <label for="user">User</label>
        <div class="inputUserBox">
          <input required type="text" class="inputUser" id="user" /><i
            class="fas fa-user"
          ></i>
        </div>
        <label for="user">User</label>
        <div class="inputUserBox">
          <input required type="text" class="inputUser" id="user" /><i
            class="fas fa-user"
          ></i>
        </div>
        <label for="user">User</label>
        <div class="inputUserBox">
          <input required type="text" class="inputUser" id="user" /><i
            class="fas fa-user"
          ></i>
        </div>
        <label for="user">User</label>
        <div class="inputUserBox">
          <input required type="text" class="inputUser" id="user" /><i
            class="fas fa-user"
          ></i>
        </div>
        <button class="signUpBtn" type="submit">Sign Up</button>
        <p>Already have an Account? <a routerLink="/login">Sign Up</a></p>
      </form>
    </div>
  </div>
</section>
