$main-blue: #00aafe;

$whitesmoke: whitesmoke;

$main-dark-blue: #282a35;

footer {
  background: #282a35;
  color: $whitesmoke;
  padding: 30px 0;

  .footerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 120px;
    }
  }

  .footerLocation {
    text-align: center;
    ul {
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        a {
          color: $whitesmoke;
          transition: all, 0.2s;
          text-decoration: none;
          &:hover {
            color: $main-blue;
          }
        }
      }
    }

    .footerUl1 {
      margin: 30px;

      li {
        a {
          padding: 10px;
        }
      }
    }

    .footerUl2 {
      li {
        padding: 10px;
        a {
          font-size: 2rem;
        }
      }
    }
  }

  p {
    text-align: center;
    span {
      text-decoration: underline;
    }
  }
}

@media (min-width: 786px) {
  footer {
    .footerLogo {
      justify-content: left;

      img {
        width: 150px;
      }
    }

    .footerLocation {
      text-align: right;
      .footerUl2 {
        margin-right: 30px;
      }
    }
  }
}
