<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 footerLogo">
        <img src="../../../../assets/img/logo.png" alt="" />
      </div>

      <div class="col-sm-6 footerLocation">
        <ul class="footerUl1">
          <li><a href="">FORUM</a></li>
          |
          <li><a href="">ABOUT</a></li>
        </ul>

        <ul class="footerUl2">
          <li>
            <a href=""><i class="fab fa-facebook-square"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
      accusantium ipsa eveniet quod nostrum minus totam laboriosam eum
      voluptatibus dolore necessitatibus tempora officia magni aut eos
      voluptatem quia libero modi aliquid, suscipit atque consequuntur alias.
      Nesciunt veritatis ex qui dolores perferendis laboriosam? Recusandae
      quisquam maxime soluta odit pariatur tempora incidunt?
      <span>© Copyright 2021. All Right Reserved.</span>
    </p>
  </div>
</footer>
