<header class="container-md mainHeader">
  <nav>
    <label for="navCheck" class="checkFont" (click)="status = !status"
      ><i class="fas fa-bars"></i
    ></label>
    <a href=""><img src="../../assets/img/logo.png" alt="logo" /></a>

    <ul [ngClass]="status ? 'showUl' : 'hideUl'">
      <li>
        <a
          (click)="status = !status"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="navActive"
          routerLink="/"
          >Home</a
        >
      </li>

      <li>
        <a
          (click)="status = !status"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="navActive"
          routerLink="category"
          >Category</a
        >
      </li>
      <div class="d-inline" *ngIf="userLogin; else replaceContent">
        <li *ngIf="adminState; else replaceUser">
          <a (click)="status = !status" routerLink="admin">
            {{ userLogin.taiKhoan }}</a
          >
        </li>
        <ng-template #replaceUser>
          <li>
            <a (click)="status = !status" routerLink="user">
              {{ userLogin.taiKhoan }}</a
            >
          </li>
        </ng-template>

        <li>
          <a (click)="signOut()">sign Out</a>
        </li>
      </div>
      <ng-template class="d-inline" #replaceContent>
        <li>
          <a
            (click)="status = !status"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="navActive"
            routerLink="sign-up"
            >Sign Up</a
          >
        </li>
        <li>
          <a
            (click)="status = !status"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="navActive"
            routerLink="login"
            >Login</a
          >
        </li></ng-template
      >
    </ul>
  </nav>
</header>
