<!-- <header class="container-md">
  <nav>
    <input type="checkbox" id="navCheck" />
    <label for="navCheck" class="checkFont"><i class="fas fa-bars"></i></label>
    <a href=""><img src="../../assets/img/logo.png" alt="logo" /></a>

    <ul>
      <li><a href="/">Home</a></li>

      <li><a href="/">Course</a></li>
      <li><a href="/">Sign Up</a></li>
      <li><a href="/">Login</a></li>
    </ul>
  </nav>
</header> -->

<header><app-header></app-header></header>

<main><router-outlet></router-outlet></main>
