$main-blue: #00aafe;
$whitesmoke: whitesmoke;
$main-dark-blue: #282a35;

body {
  background-color: #fafafa;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.courseList {
  .row {
    .courseListItem {
      &:hover {
        background: rgb(231, 231, 231);
        color: $whitesmoke;
        transition: all, 0.3s;
        border-radius: 20px;
      }
      margin: 20px 0;
    }
  }

  .courseCard {
    padding: 10px;
    text-decoration: none;
    color: $main-dark-blue;
    height: fit-content;
    .cardImg {
      min-width: 220px;
      min-height: 120px;
      border-radius: 10px;
      overflow: hidden;
    }
    .itemTitle,
    .preview {
      padding-right: 0;
      padding-left: 0;
    }

    .itemTitle {
      min-height: 167px;
      .cardTitle {
        width: 70%;
        height: 15px;
        border-radius: 10px;
      }
      .cardTitle2 {
        width: 50%;
        height: 15px;
        border-radius: 10px;
        margin: 10px 0;
      }
    }
    .preview {
      border-top: 1px solid $main-dark-blue;
      div {
        margin-right: 20px;
        display: inline-block;
        i {
          margin-right: 5px;
          font-size: 1.2rem;
          color: $main-blue;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .courseCard {
      .cardImg {
        min-height: 180px;
      }
    }
  }
}
