<header class="container-md mainHeader">
  <nav>
    <!-- <input type="checkbox" id="navCheck" /> -->
    <label for="navCheck" class="checkFont" (click)="status = !status"
      ><i class="fas fa-bars"></i
    ></label>
    <a routerLink=""><img src="../../assets/img/logo.png" alt="logo" /></a>

    <ul [ngClass]="status ? 'showUl' : 'hideUl'">
      <li>
        <a
          (click)="status = !status"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="navActive"
          routerLink="/"
          >Home</a
        >
      </li>

      <li>
        <a
          (click)="status = !status"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="navActive"
          routerLink="/"
          >{{ userLogin.taiKhoan }}</a
        >
      </li>

      <li>
        <a (click)="signOut()">log out</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
