$main-blue: #00aafe;
$whitesmoke: whitesmoke;
$main-dark-blue: #282a35;

.--active {
  color: $main-blue;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.container {
  .selectingCategory {
    background: $main-dark-blue;
    border-radius: 10px;
    padding: 15px 0;
    color: $whitesmoke;
    p {
      display: block;
      text-align: center;
      font-weight: bold;
      margin: 0;
      &:hover {
        cursor: pointer;
      }
    }

    .hiddenP {
      width: 40%;
      height: 1rem;
      margin: 5px auto;
    }
  }
}
