$main-blue: #00aafe;
$main-brown: #5f5252;
$whitesmoke: whitesmoke;
$main-grey: #8d8989;

.--active {
  color: $main-blue;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding: 20px;
  }
}
